
@model AppData.Entities.Models.Voucher

@{
    ViewData["Title"] = "UpdateVoucher";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link href="~/css/layout/adminlte.min.css" rel="stylesheet" />
<link href="~/css/layout/fontawesome/all.min.css" rel="stylesheet" />
<section class="content">
    <div class="">
        <div class="">
            <form method="post" id="formUdvc">
       
                <div class="form-group" >
                    <input value="@Model.ID" id="ID" hidden type="text" />
                </div>
               <div class="form-group">
                    <div class="row">
                        <label for="MaVoucher" class="control-label col-md-3">Mã Voucher</label>
                    </div>
                    <div class="col-md-9">
                        <input value="@Model.MaVoucher" type="text" class = " form-control custom-input" readonly id="MaVoucher"/>
                    </div>
                </div>
                @*<div class="form-group" hidden>
                    <div class="row">
                        <label class="control-label col-md-3">Ngày Tạo</label>
                    </div>
                    <div class="col-md-9">
                        <input type="datetime" class="form-control" value="@Model.NgayTao" id="NgayTao" />
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Ngày Bắt Đầu</label>
                    </div>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control" value="@Model.NgayBatDau" id="NgayBatDau" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Ngày Kết Thúc</label>
                    </div>
                    <div class="col-md-9">

                        <input type="datetime-local" class="form-control" value="@Model.NgayKetThuc" id="NgayKetThuc" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Giá Trị Voucher: </label>
                    </div>
                    <div class="col-md-9">
                        <input value="@Model.GiaTriVoucher" type="number" class="form-control" id="GiaTriVoucher" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Điều Kiện Min: </label>
                    </div>
                    <div class="col-md-9">
                        <input value="@Model.DieuKienMin" type="number" class="form-control" id="DieuKienMin" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Điều Kiện Max: </label>
                    </div>
                    <div class="col-md-9">
                        <input value="@Model.DieuKienMax" type="number" class="form-control" id="DieuKienMax"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Số Lượng: </label>
                    </div>
                    <div class="col-md-9">
                        <input value="@Model.SoLuong" type="number" class="form-control" id="SoLuong"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Mô Tả: </label>
                    </div>
                    <div class="col-md-9">
                        <input value="@Model.MoTa" type="text" class="form-control" id="MoTa"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3">Trạng Thái: </label>
                    </div>
                    <div class="col-md-9">
                        <input value="@Model.TrangThai" type="number" class="form-control" id="TrangThai"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</section>
<script src="~/js/layout/jquery.min.js"></script>
<script src="~/js/layout/bootstrap.bundle.min.js"></script>
<script src="~/js/layout/adminlte.js"></script>


<script>
    $(document).ready(function () {
        $('#formUdvc').submit(function (e) {
            // Get form data
            var formData = {
                ID: $('#ID').val(),
                MaVoucher: $('#MaVoucher').val(),
                //NgayTao: $('#NgayTao').val(),
                NgayBatDau: $('#NgayBatDau').val(),
                NgayKetThuc: $('#NgayKetThuc').val(),
                GiaTriVoucher: $('#GiaTriVoucher').val(),
                DieuKienMin: $('#DieuKienMin').val(),
                DieuKienMax: $('#DieuKienMax').val(),
                SoLuong: $('#SoLuong').val(),
                MoTa: $('#MoTa').val(),
                TrangThai: $('#TrangThai').val()
            };
            console.log(formData);

            // Send POST request
            $.ajax({
                type: 'POST',
                url: '/admin/voucher/UpdateVoucher',
                data: JSON.stringify(formData),
                contentType: 'application/json',

                success: function (response) {
                    console.log(response);
                    //location.reload();
                    window.location.href = "/Admin/Voucher/DanhSach";
                },
                error: function (error) {
                    console.log(error);
                }
            });

            return false; // Prevent the form from submitting normally
        });
    });


    function formatDate(datetimeString) {
        var date = new Date(datetimeString);

        // Lấy các giá trị ngày, tháng, năm, giờ, phút từ đối tượng Date
        var year = date.getFullYear();
        var month = date.getMonth() + 1; // Lưu ý: getMonth trả về index của tháng từ 0 đến 11, nên cần cộng thêm 1
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();

        // Format lại các giá trị ngày, tháng, năm, giờ, phút thành chuỗi để gửi lên server
        var formattedDateTime = year + "-" + (month < 10 ? "0" + month : month) + "-" + (day < 10 ? "0" + day : day) + "T" + (hour < 10 ? "0" + hour : hour) + ":" + (minute < 10 ? "0" + minute : minute);
        return formattedDateTime;
    }
</script>

    