@model IEnumerable<AppData.Entities.ViewModels.SaleChiTietViewModel>

@{
    ViewData["Title"] = "DanhSachTatCaSaleChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o94origin=" anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript" src="~/js/layout/jquery.min.js"></script>
<link href="~/js/danhsachsanpham/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/danhsachsanpham/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/danhsachsanpham/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
<style>
    .pagination {
        margin-top: 10px;
        text-align: center;
    }

        .pagination button {
            padding: 5px 10px;
            margin: 0 5px;
            cursor: pointer;
        }

    button.btn.btn-primary {
        width: 100px;
        height: 44px;
        margin-bottom: 10px;
    }
</style>
<p>
    <a href="~/Admin/SaleChiTiet/ThemSanPhamSale" class="btn btn-primary"><i class="fas fa-plus-square" style="color: #ffffff;"></i> Thêm mới</a>
</p>
<form>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <input id="tukhoa" placeholder="Nhập mã sale hoặc tên sản phẩm" class="form-control" />
        </div>
        <div class="col-mf-2">
            <button class="btn btn-primary" onclick="TimKiemSaleChiTietTheoTen(event);" style="margin-left: 7px;">Tìm kiếm</button>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <input id="NgayBatDau" type="date" class="form-control" />
    </div>
    <div class="col-md-4">
        <input id="NgayKetThuc" type="date" class="form-control" />
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" onclick="TimKiemTheoNgay();">Lọc</button>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách sản phẩm</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="display:none;">ID</th>
                                    <th>STT</th>
                                    <th>Mã sale</th>
                                    <th>Tên sản phẩm</th>
                                    <th style="width: 360px;">Ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Phần trăm</th>
                                    <th>Giá gốc</th>
                                    <th>Tiền giảm</th>
                                    <th>Giá bán</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="DanhSachSPCTSale">
                                @* @foreach (var item in Model)
                                {
                                <tr>
                                <td style="display:none;">
                                @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.MaSPCT)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.TenSP)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.MauSac)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.GiaBan)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.LoaiSanPham)
                                </td>
                                <td>
                                @if (item.lstAnhSanPham == null)
                                {

                                }
                                else
                                {
                                foreach (var path in item.lstAnhSanPham)
                                {
                                <img src="@Url.Action("DisplayImage", "Anh", new { DuongDan = path.DuongDan })" alt="Image" width="30%" height="30%" />
                                }
                                }

                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                                </td>
                                <td>
                                @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                                </tr>
                                }*@
                            </tbody>
                        </table>
                        <div class="pagination" id="pagination">
                            <button onclick="previousPage()">Previous</button>
                            <!-- Số trang sẽ được thêm vào đây bằng JavaScript -->
                            <button onclick="nextPage()">Next</button>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/danhsachsanpham/jquery/jquery.min.js"></script>
<script src="~/js/danhsachsanpham/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/js/danhsachsanpham/datatables-responsive/js/datatables.responsive.min.js"></script>
<script src="~/js/danhsachsanpham/datatables-bs4/js/datatables.bootstrap4.min.js"></script>
<script src="~/js/danhsachsanpham/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/sale/sale.js"></script>
<script>
    DanhSachSaleChiTietAdmin();
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });

</script>
