@model AppData.Entities.ViewModels.SaleChiTietViewModel

@{
    ViewData["Title"] = "SaleChiTiet";
    Layout = "~/Areas/KhachHang/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="~/css/layout/animate.css" rel="stylesheet" />
<!-- Icomoon Icon Fonts-->
<link href="~/css/layout/icomoon.css" rel="stylesheet" />
<!-- Ion Icon Fonts-->
<link href="~/css/layout/ionicons.min.css" rel="stylesheet" />
<!-- Bootstrap  -->
<link href="~/css/layout/bootstrap.min.css" rel="stylesheet" />

<!-- Magnific Popup -->
<link href="~/css/layout/magnific-popup.css" rel="stylesheet" />

<!-- Flexslider  -->
<link href="~/css/layout/flexslider.css" rel="stylesheet" />
<!-- Owl Carousel -->
<link href="~/css/layout/owl.carousel.min.css" rel="stylesheet" />
<link href="~/css/layout/owl.theme.default.min.css" rel="stylesheet" />

<!-- Date Picker -->
<link href="~/css/layout/bootstrap-datepicker.css" rel="stylesheet" />
<!-- Flaticons  -->
<link href="~/css/layout/fontawesome/flaticon.css" rel="stylesheet" />
<!-- Theme style  -->
<link href="~/css/layout/style.css" rel="stylesheet" />
<link href="~/css/layout/layout.css" rel="stylesheet" />

<div class="danhsach" style="margin-top: 2%;">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap">
            <div class="col-sm-8">
                <div class="owl-carousel">
                    @if (Model.lstAnhSanPham == null || Model.lstAnhSanPham.Count == 0)
                    {
                        <div class="item">
                            <div class="product-entry border">
                                <a href="#" class="prod-img">
                                    <img src="https://congtygiaphat104.com/template/Default/img/no.png" class="img-fluid" alt="Free html5 bootstrap 4 template">
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        @foreach (var item in Model.lstAnhSanPham)
                        {
                            <div class="item">
                                <div class="product-entry border">
                                    <a href="#" class="prod-img">
                                        <img src="@Url.Action("DisplayImage", "Anh", new { DuongDan = item.DuongDan , area = "Admin" })" class="img-fluid" alt="@item.DuongDan">
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-desc">
                    <h3 id="TenSp">@Model.TenSP</h3>
                    <p class="price">
                        <span>@Model.GiaGiam.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span>
                        <span class="rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            (74 Rating)
                        </span>
                    </p>
                    <div style="display:flex">Thương hiệu: <p id="idTenThuongHieu">@Model.ThuongHieu</p></div>
                    <div style="display:flex">Loại sản phẩm: <p id="loaiSanPham">@Model.TheLoai</p></div>
                    <div class="size-wrap">
                        <div class="block-26 mb-2">
                            <h4>Size</h4>
                            <ul id="lst_size">

                            </ul>
                            <span id="GiaTriSize" style="display:none;"></span> @**@
                        </div>
                        <div class="block-26 mb-4">
                            <h4>Màu sắc</h4>
                            <ul id="lst_mau">

                            </ul>
                            <span id="GiaTriMau" style="display:none;"></span> @**@
                        </div>
                    </div>
                    <div class="input-group mb-4">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                <i class="fas fa-minus"></i>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn ml-1">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="fas fa-plus"></i>
                            </button>
                        </span>
                    </div>
                    <span id="idsanpham" style="display:none;"></span> @**@
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="addtocart"><a class="btn btn-primary btn-addtocart" onclick="ThemSanPhamVaoGioHang();" style="color:white;"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12 pills">
                        <div class="bd-example bd-example-tabs">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Description</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab" style="margin-bottom: 5%;">
                                   <p></p>
                                </div>


                                <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab" style="margin-bottom: 5%;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h3 class="head">23 Reviews</h3>
                                            <div class="review">
                                                <div class="user-img" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu9mCh1J0Pulu5JXw8cpYkMsCiyFJavo-esQ&usqp=CAU)"></div>
                                                <div class="desc">
                                                    <h4>
                                                        <span class="text-left">Jacob Webb</span>
                                                        <span class="text-right">14 March 2018</span>
                                                    </h4>
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <i class="far fa-star"></i>
                                                        </span>
                                                        <span class="text-right"><a href="#" class="reply"><i class="fas fa-reply"></i></a></span>
                                                    </p>
                                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                                </div>
                                            </div>
                                            <div class="review">
                                                <div class="user-img" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDtd0soCSRdpo8Y5klekJdABh4emG2P29jwg&usqp=CAU)"></div>
                                                <div class="desc">
                                                    <h4>
                                                        <span class="text-left">Jacob Webb</span>
                                                        <span class="text-right">14 March 2018</span>
                                                    </h4>
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <i class="far fa-star"></i>
                                                        </span>
                                                        <span class="text-right"><a href="#" class="reply"><i class="fas fa-reply"></i></a></span>
                                                    </p>
                                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                                </div>
                                            </div>
                                            <div class="review">
                                                <div class="user-img" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1vDTTRqiynHnCf-EP0z8LyhHwRbMnIabmUwXyu6KYSi1Khc4dNN-mJANYGhukvmVvjhk&usqp=CAU)"></div>
                                                <div class="desc">
                                                    <h4>
                                                        <span class="text-left">Jacob Webb</span>
                                                        <span class="text-right">14 March 2018</span>
                                                    </h4>
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star-half-alt"></i>
                                                            <i class="far fa-star"></i>
                                                        </span>
                                                        <span class="text-right"><a href="#" class="reply"><i class="fas fa-reply"></i></a></span>
                                                    </p>
                                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="rating-wrap">
                                                <h3 class="head">Give a Review</h3>
                                                <div class="wrap">
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            (98%)
                                                        </span>
                                                        <span>20 Reviews</span>
                                                    </p>
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            (85%)
                                                        </span>
                                                        <span>10 Reviews</span>
                                                    </p>
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            (70%)
                                                        </span>
                                                        <span>5 Reviews</span>
                                                    </p>
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            (10%)
                                                        </span>
                                                        <span>0 Reviews</span>
                                                    </p>
                                                    <p class="star">
                                                        <span>
                                                            <i class="fas fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                            (0%)
                                                        </span>
                                                        <span>0 Reviews</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="~/js/Layout/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- jQuery easing -->
<script src="~/js/layout/jquery.easing.1.3.js"></script>
<script src="~/js/layout/magnific-popup-options.js"></script>
<!-- Owl carousel -->
<script src="~/js/layout/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="~/js/layout/jquery.magnific-popup.min.js"></script>
<script src="~/js/layout/magnific-popup-options.js"></script>
<!-- Date Picker -->
<script src="~/js/layout/bootstrap-datepicker.js"></script>
<!-- Stellar Parallax -->
<script src="~/js/layout/jquery.stellar.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- popper -->
<script src="~/js/Layout/popper.min.js"></script>
<!-- bootstrap 4.1 -->
<script src="~/js/Layout/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="~/js/Layout/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="~/js/Layout/jquery.flexslider-min.js"></script>
<!-- Main -->
<script src="~/js/Layout/main.js"></script>
<script src="~/js/sale/sale.js"></script>
<script>
    DanhSachTheoTenThuongHieuTheLoai();
    document.addEventListener('DOMContentLoaded', function () {
        // Lấy các elements cần thiết
        var quantityInput = document.getElementById('quantity');
        var minusButton = document.querySelector('.quantity-left-minus');
        var plusButton = document.querySelector('.quantity-right-plus');

        // Xử lý sự kiện khi click vào nút trừ
        minusButton.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            if (currentValue > 1) { // Đảm bảo số lượng không nhỏ hơn 1
                quantityInput.value = currentValue - 1;
            }
        });

        // Xử lý sự kiện khi click vào nút cộng
        plusButton.addEventListener('click', function () {
            var currentValue = parseInt(quantityInput.value);
            var maxValue = parseInt(quantityInput.getAttribute('max')); // Lấy giá trị max
            if (!maxValue || currentValue < maxValue) { // Nếu không có giá trị max hoặc chưa đạt giá trị max
                quantityInput.value = currentValue + 1;
            }
        });
    });
</script>

