@model IEnumerable<AppData.Entities.Models.MauSac>

@{
    ViewData["Title"] = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>DanhSach</h1>

<p>
    <a href="~/Admin/MauSac/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMauSac)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMauSac)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new {  id=item.ID  }) |
                    @Html.ActionLink("Details", "MauSacDetail", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
